/* Los Estilos Globales Van Aqui*/
body {
  margin: 0;
  box-sizing: border-box;
}
html {
  margin: 0 !important;
}
//Importar las Variables Basicas
@import "./Stylesheets/Variables.scss";
@import "./Stylesheets/Mixins.scss";
//Importar las Hojas de Estilo Individuales\@import
@import "./Stylesheets/Forms.scss";
@import "./Stylesheets/NavBar.scss";
@import "./Stylesheets/Publicidad.scss";
@import "./Stylesheets/Containers.scss";

//Importar las Hojas de Estilos Pertenecientes a Vistas
@import "./Stylesheets/Principal.scss";
